{{#each items}}
	<div class="grid-cell post-{{network}} loading" data-id="{{id}}">


		{{!-- Begin Facebook --}}
		{{#compare network "facebook"}}

			<h3 tabindex="-1">Facebook Post by {{userName}}</h3>

			<a class="social-icon icon-facebook" href="{{postHref}}"
				target="_blank" title="Open Facebook post in a new window"></a>

			<div class="content">
				{{#if contentText}}<p>{{contentText}}</p>{{/if}}
				<div class="cta">
					<a class="action-icon icon-share" target="_blank" title="Share"
						href="https://www.facebook.com/{{facebook_id}}/share"></a>
					<a class="action-icon icon-comment" target="_blank" title="Comment"
						href="https://www.facebook.com/{{facebook_id}}/comments"></a>
				</div>
			</div>

			{{#if imgSrc}}
			<div class="media">
				<a href="{{postHref}}" target="_blank" title="Open Facebook post in a new window">
					<img src="{{imgSrc}}" alt="" />
				</a>
			</div>
			{{/if}}

		{{/compare}}
		{{!-- End Facebook --}}


		{{!-- Begin Twitter --}}
		{{#compare network "twitter"}}

			<h3 tabindex="-1">Twitter Post by {{userName}}</h3>

			<a class="social-icon icon-twitter" href="{{postHref}}"
				target="_blank" title="Open Twitter post in a new window"></a>

			<div class="content">
				{{#if contentText}}<p>{{contentText}}</p>{{/if}}
				<div class="cta">
					<a class="action-icon icon-reply" target="_blank" title="Reply"
						href="https://twitter.com/intent/tweet?original_referer=&in_reply_to={{id_str}}"></a>
					<a class="action-icon icon-retweet" target="_blank" title="Retweet"
						href="https://twitter.com/intent/retweet?original_referer=&in_reply_to={{id_str}}&tweet_id={{id_str}}"></a>
					<a class="action-icon icon-favorite" target="_blank" title="Favorite"
						href="https://twitter.com/intent/favorite?original_referer=&in_reply_to={{id_str}}&tweet_id={{id_str}}"></a>
				</div>
			</div>

			{{#if imgSrc}}
			<div class="media">
				<a href="{{postHref}}" target="_blank" title="Open Twitter post in a new window">
					<img src="{{imgSrc}}" alt="" />
				</a>
			</div>
			{{/if}}

		{{/compare}}
		{{!-- End Twitter --}}


		{{!-- Begin Instagram --}}
		{{#compare network "instagram"}}

			<h3 tabindex="-1">Instagram Post by {{userName}}</h3>

			<a class="social-icon icon-instagram" href="{{postHref}}"
				target="_blank" title="Open Instagram post in a new window"></a>

			<div class="content">
				{{#if contentText}}<p>{{contentText}}</p>{{/if}}
				<div class="cta">
					<a class="action-icon icon-like" target="_blank" title="Like" href="{{postHref}}"></a>
				</div>
			</div>

			{{#if imgSrc}}
			<div class="media">
				<a href="{{postHref}}" target="_blank" title="Open Instagram post in a new window">
					<img src="{{imgSrc}}" alt="" />
				</a>
			</div>
			{{/if}}

		{{/compare}}
		{{!-- End Instagram --}}


		{{!-- Begin Pinterest --}}
		{{#compare network "pinterest"}}

			<h3 tabindex="-1">Pinterest Post</h3>

			<a class="social-icon icon-pinterest" href="{{postHref}}"
				target="_blank" title="Open Pinterest post in a new window"></a>

			<div class="content">
				{{#if contentText}}<p>{{contentText}}</p>{{/if}}
			</div>

			{{#if imgSrc}}
			<div class="media">
				<a href="{{postHref}}" target="_blank" title="Open Pinterest post in a new window">
					<img src="{{imgSrc}}" alt="" />
				</a>
			</div>
			{{/if}}

		{{/compare}}
		{{!-- End Pinterest --}}


	</div>
{{/each}}